.main-block .title {
  display: inline-block;
  background-color: var(--highlight);
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 10px 30px 5px 20px;
  font-size: 16px;
}
.main-block .body {
  height: 300px;
  background-color: var(--secondary);
  border-radius: 0 20px 20px 20px;
}

.sub-block {
  margin-top: 35px;
}
.sub-block .title {
  color: #fff;
  padding: 10px 30px 10px 10px;
  font-size:15px;
}
.sub-block .body {
  height: 160px;
  background-color: var(--secondary);
  border-radius: 20px;
}
#addtask .name-input {
  width: 100%;
}
#addtask .subtitle {
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
  opacity: 0.7;
}
#addtask .group {
  display: flex;
  flex-direction: row;
}
#addtask .group .input-pair {
  flex-grow: 2;
}
#addtask .group .input-pair .label {
  color: #fff;
  font-size: 12px;
  margin: 10px;
  height: 15px;
  opacity: 0.7;
}
#addtask .group .input-pair input {
  width: calc(100% - 10px);
}
#addtask .save-wrapper {
  flex-grow: 1;
  min-width: 80px;
  padding-top: 38px;
  margin-left: 10px;
}
#addtask .save-wrapper .savebtn {
  background-color: var(--action);
  border-radius: 20px;
  border: none;
  padding: 4px 15px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
