@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("fonts/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
:root{
  --highlight: #64A9A5;
  --secondary: #232336;
}
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: 'DM Sans';
}

div {
  box-sizing: border-box;
}

.fa {
  color: #fff;
  font-size: 20px;
}

.navbar {
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 25px;
  flex-direction: row;
  color: #fff;
  text-align: right;
  font-size: 18px;
}

.navbar .left {
  flex-grow: 1;
}

.navbar .right {
  margin-left: 50px;
}

.navbar .fa {
  margin: 0 10px;
}

.title {
  width: 100vw;
  padding-left: 25px;
  position: relative;
  top: 100px;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}

.main-content {
  width: 100vw;
  padding: 25px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 7px;
}
.main-content .left {
  flex-grow: 1;
  margin-right: 25px;
  width:0;
}
.main-content .right {
  flex-grow: 1;
  width:0;
}

#tasks {
  font-size:15px;
  margin-top:100px;
}
.task-title {
  display: inline-block;
  background-color: var(--highlight);
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 10px 30px 10px 10px;
}
.task-body {
  height: 300px;
  background-color: var(--secondary);
  border-radius: 0 20px 20px 20px;
  //width:379.5px;
}
#addtask{
  margin-top: 35px;
}
.addtask-title{
  color: #fff;
  padding: 10px 30px 10px 10px;
  font-size:15px;
}
.addtask-body {
  background-color: var(--secondary);
  border-radius: 20px 20px 20px 20px;
  border:none;
  padding: 10px 5px 5px 10px;
  width:379.5px;
}
